---
title: Cookie policy
---
<!doctype html>
<html>
<head>
  {% include header_head.html %}
  <style>
  .content img {float: left; margin:0 15px 15px 0}
  section {overflow:hidden; margin-bottom: 10px;}
  </style>
</head>
<body>
  {% include header.html %}
  <main>
    <div class="content">

      <h1>Privacy and Cookie Policy</h1>

      <p>
        A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.
      </p><p>
        Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.
      </p><p>
        You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser settings to decline cookies if you prefer. This may prevent you from taking full advantage of the website.
      </p><p>
        When a visitor browses the Management Team website, we collect standard internet log information.  This information does not identify individuals and is only used internally for us to ensure that our website best meets our audience's needs.
      </p><p>
        By using our website, you agree that we can place these types of cookies on your device.
      </p><p>
        We take your privacy very seriously and comply with the recent UK and EU law on handling cookies and provide (you) the user with means to remove such cookies or prevent your computer from accepting them in the future.
      </p><p>
        For more information about cookies, including how to see what cookies have been set and how to manage and delete them, visit <a href="http://allaboutcookies.org/">http://allaboutcookies.org/</a> or to opt out of being tracked by Google Analytics across all websites, visit <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>.
      </p>

    </section>
    </div>
  </main>
  {% include footer.html %}
</body>
</html>
