---
title: Employee Relations
---
<!doctype html>
<html>

<head>
  {% include header_head.html %}
</head>

<body>
  {% include header.html %}
  <main>
    <div class="content">

      <h1>Employee Relations</h1>

      <p>
        Working your way through the complexities of employee relations can often feel a little daunting.
      </p>
      <p>
        We aim to help and support you through this journey – creating effective, bespoke solutions, covering everything from a one-off issue right through to developing a full performance management strategy.
      </p>

      We can help with:
      <ul>
        <li>Performance management advice
        </li>
        <li>Disciplinary and grievance advice and management
        </li>
        <li>Drafting of letters and where necessary developing templates.
        </li>
      </ul>
    </div>
  </main>
  {% include footer.html %}
</body>

</html>
