header {
  height:100px;
  padding:10px 0 0 0;
  background-color:#fff;
  position:fixed;
  top:0;
  width:100%;
  transition:background-color 180ms linear, height 180ms;
  z-index:1000;
}

header + * {
  margin-top:100px;
}

header.scrolled {
/*  background-color: rgba(253,251,253,0.9);*/
  box-shadow: #ccc 0 2px 5px;
  height:60px;
}

header .social, header .email {
  transition:opacity 0.3s;
}

header.scrolled .content {
  height:60px;
}

header.scrolled .social {
  opacity:0
}

header.scrolled .email {
  opacity:0;
}

header a img {
  height:70px;
  transition: height 0.3s;
  float:left;
}

#logo {
  display:block;
  float:left;
  width:400px;
}
#logo span {
  display:block;
  opacity:1;
  transition: opacity 0.2s;
}

header.scrolled #logo span {
  opacity:0;
}
header.scrolled a img {
  height:60px;
}

footer {
  font-size:10px;
  background-color:#fff;
}
main {
  overflow:hidden;
  min-height:500px;
}
header .content {
  height:100px;
  transition:height 180ms;
}
header .content, footer .content, main {
  width:880px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}
footer .content {
  padding:50px 0 10px 0;
}
header .email {
  float:right;
  font-size:12px;
  margin-right:10px;
}
.jumbotron ul {
  background-image:url(office.jpg);
  background-repeat:no-repeat;
  height:500px;
  padding:0;
  font-size:0;
}
.jumbotron li {
  display:inline-block;
  width:212px;
  border-right:solid 10px #eee;
  height:100%;
  position:relative;
  z-index:10;
}
.jumbotron li:last-child {
  border-right:none;
}
.jumbotron li a {
  position: absolute;
  bottom: 30px;
  text-align: center;
  background-color: #ED5100;
  height: 50px;
  line-height:50px;
  right: 0;
  left: 0;
  color: #FFF;
  padding: 5px 10px 10px 10px;
  font-size:25px;
  text-decoration:none;
  transition:background-color 0.5s;
  text-shadow:#777 0 0 1px;
  font-weight:100;

}
.jumbotron li a:hover {
  background-color:#C46900;
}
.jumbotron li a span {
  line-height:25px;
  vertical-align:middle;
  display:inline-block;
  width:160px;
}
.jumbotron li a i {
  display:inline-block;
  color:white;
  height:30px;
  padding:5px 0 5px 0;
}
.jumbotron {
  padding-top:20px;
  width:878px;
  margin-left: auto;
  margin-right:auto;
  font-family:"Roboto Condensed";
}
body {
  background-color:#eee;
  margin:0;
  font-family: "Roboto";
  font-weight:300;
  font-size:14px;
}
.social {
  float:right;
}
.social i {
  color:#555;
}
.social a:hover i {
  color:#ED5100;
  transition:color 0.2s;
}
blockquote {
  width:300px;
  float:right;
  margin-top:0 !important;
  margin-left:40px !important;
  margin-right:0 !important;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size:18px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
nav {
  position:absolute;
  right:0;
  bottom:0;
}
nav li {
  display:inline-block;
  border-right:solid 1px #000;
  padding:4px;
}
nav a {
  font-weight:100;
}
nav li:last-child {
  border-right:none;
}
a {
  text-decoration:none;
  font-weight:bold;
  color:#222;
  transition:color 0.2s;
}
a:hover {
  color:#ED5100;
}
h3 {
  text-transform:uppercase;
  border-bottom:solid 1px #777;
  color:#777;
  padding-bottom:10px;
  font-size:20px;
}
h1 i, footer i.copyright {
  color:#ED5100;
}
