---
title: News
---
<!doctype html>
<html>
<head>
  {% include header_head.html %}
  <style>
  ul.categories {
    margin:0;
    padding:0;
    display:inline-block;
  }
  .categories li {
    display:inline;
    font-weight:300;
    margin:0;
  }
  .categories li:after {
    content: ','
  }
  .categories li:last-child:after {
    content: ''
  }
  section {
    margin-bottom:40px;
  }
</style>
</head>
<body>
  {% include header.html %}
  <main>
    <div class="content">

      <p>
        <img src='ipad.jpg' width="800">
      </p>

      <h1><i class="fa fa-rss"></i> Your HR Resources</h1>

      <p>We regularly post our thoughts on how to deal with the common 'people problems' that businesses of all shapes and sizes, face.
        You'll find these posted to our Worry Wall below. From time to time, we'll also publicise consultancy offers giving you access to specialist HR advice on a first-come, first-served basis.
      </p>
      <p>
      We welcome your queries and do get in touch if you think we can help more.
      </p>

      {% for post in site.posts %}
        <section>
          <h3>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h3>
          <div>By {{post.author}} on {{post.date | date: '%d %B, %Y' }} in
            <ul class="categories">
              {% for category in post.categories %}
              <li>{{category}}</li>
              {% endfor %}
            </ul>
          </div>

          {{ post.excerpt }}
          <p>
            <a href="{{ post.url }}">Keep Reading</a>
          </p>
        </section>
      {% endfor %}
    </div>
  </main>
  {% include footer.html %}
</body>
</html>
