---
title: About Us
---
<!doctype html>
<html>
<head>
  {% include header_head.html %}
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
  <link href="../style.css" rel='stylesheet'>
  <style>
  .content img {float: left; margin:0 15px 15px 0}
  section {overflow:hidden; margin-bottom: 10px;}
  </style>
</head>
<body>
  {% include header.html %}
  <main>
    <div class="content">

      <h1>A fresh perspective...</h1>

      <p>
      We are a team of experienced HR and Business Development professionals with expertise in a diverse range of industry sectors.
    </p>
    <p>
      The team is led by Julie Kellett and Sarah Birkby.
    </p>

      <section>
      <h3>Julie Kellet</h3>
      <img src="julie-kellet.jpg" width="200">
      <p>
        A member of the Chartered Institute of Personnel and Development, Julie has over 20 years of Human Resource experience gained within the Hospitality and Retail sectors.
      </p>
      <p>
        Past companies include Holiday Inn, a London Private members Club and more recently, Blockbuster Entertainment, where she been promoted through several HR Management roles to become Vice President of Human Resources for Blockbuster UK.
      </p>
      <p>
        Throughout her career Julie has supported businesses with: employee relations, performance management, resource and talent planning, merger activities plus organisational and leadership development.
      </p>
      <p>
        She has a particular specialism in Occupational testing and holds a number of related qualifications including being British Psychological Society Level A eligible; British Psychological Level B intermediate eligible as well as being an MBTI Step One & Two practitioner.
      </p>
      <p>
        She also holds a postgraduate diploma from the University of Westminster along with a HCIMA (part B) professional qualification from Leeds Polytechnic.
      </p>
    </section>
    <section>

      <h3>Sarah Birkby</h3>
      <img src="sarah-birkby.jpg" width="200">
      <p>
        Sarah has worked for over 15 years in publishing, events, marketing and business development in a wide range of roles and sectors, including publishing, research, automotive, charitable and architecture/construction.
</p>
<p>
        Her corporate experience includes Informa Group plc; Mazda Motors UK; Jupiter MMXI; Woodside Communications (a division of Huntsworth plc, now Grayling) ; SHINE Trust and ADP LLP, where she is currently employed as Business Development Director.
  </p>
  <p>
        Most recently, her focus has been in working with partnership organisations. Sarah enjoys supporting teams and individuals in pursuing clearly identified goals – providing tools and techniques to support the pursuit of each objective and supplying guidance, mentoring, energy and support every step of the way.
    </p>
    <p>
        She holds a BSC in Political Science from University of Bristol and has been practicing her diplomacy skills ever since!
      </p>
    </section>
    </div>
  </main>
  {% include footer.html %}
</body>
</html>
