---
title: How We Work
---
<!doctype html>
<html>
<head>
  {% include header_head.html %}
</head>
<body>
  {% include header.html %}
  <main>
    <div class="content">

      <h1><i class="fa fa-pencil-square-o"></i> How we work</h1>

      <p>
        At The Management Team, we try to keep things as simple as possible.
</p>
<p>
        We aim to be pragmatic and respond to your changing needs as a client. First and foremost, we take the time to get to know you before we make any recommendations at all.
  </p>
  <p>
        Having gained an understanding of your organisation, we’ll produce a draft outline of your requirements together with a series of recommendations for discussion. Together we can then agree your priorities and explore a timetable for implementation. Once an outline plan of work is agreed, we’ll confirm the time and investment needed to deliver your support.
    </p>
    <p>
        We work flexibly, enabling you to focus on different tasks every month across the full range of our services. We’ll do as much or as little as you need us to, but you’ll have the certainty that we’re always on the end of the phone.
      </p>
      <p>
        Working with us should feel like a natural extension of your team. We’re results driven, dispassionate and intelligent advisors, committed to building long term relationships with our clients. Our approach is founded on common sense, practical experience and a genuine joy for working with people and teams willing to embrace change.
      </p>
    </div>
  </main>
  {% include footer.html %}
</body>
</html>
