---
title: Additional Services
---
<!doctype html>
<html>
<head>
  {% include header_head.html %}
</head>
<body>
  {% include header.html %}
  <main>
    <div class="content">

      <h1><i class="fa fa-male"></i> Human Resources</h1>

      <p>
        The Management Team have a pro-active and positive approach to working with all our clients. We will advise you on the appropriate level of support for your business to ensure we always deliver best value to your business.
      </p>
      <p>
        Our HR service supports the full employee lifecycle, including:
      </p>
      <ul>
        <li>Day to day employee relations</li>
          <li>Policy development</li>
        <li>People development, including training delivery</li>
        <li>Strategic insight including organisational development</li>
        <li>Resourcing.</li>
      </ul>
    </div>
  </main>
  {% include footer.html %}
</body>
</html>
