---
title: Case Studies
---
<!doctype html>
<html>

<head>
  {% include header_head.html %}
</head>

<body>
  {% include header.html %}
  <main>
    <div class="content">

      <h1>Case Studies</h1>

      <img src='sabiologo-white.jpg' style='float:right; margin-left:10px'>
      <h2>Developing a bespoke team building programme for Sabio</h2>

      <p>
        Sabio - an international integrated solutions provider – had recently experienced a period of growth, resulting in individual roles expanding within the commercial practices team.
      </p>
      <p>
        The team was always high performing, and as a bi-product of expansion, it was time for the various practice areas to work more cohesively, allowing for enhanced understanding of each other’s business areas, improved inter practice communication with the
        ultimate goal of increased business performance.
      </p>
      <h2>
        The Challenge:
      </h2>
      <p>
        The challenge was to create a bespoke development programme for this team in order to:
      </p>
      <ul>
        <li>Build team effectiveness through promoting greater personal awareness
        </li>
        <li>Improve team and personal effectiveness through better communications.
        </li>
      </ul>

      <h2>
        The Solution:
      </h2>
      <p>
        These objectives were met through the use of various team and individual diagnostic tools, team exercises on communication plus self-reflection and action-planning sessions.
      </p>
      <h2>
        Feedback:
      </h2>
      <p>
        Claire Clifford, Head of HR for Sabio, commented on the programme:
      </p>
      <p>
        "Thank you Julie for your dedicated time in getting to know Sabio , its brand and culture which really played a vital role in making this day an amazing success. By the end of the day having played with Lego, shared truths & lies and experimented with
        feedback and listening techniques the group had a solid foundation for cross practice working and some great ideas and solutions regarding the communication piece.
      </p>
      <p>
        Often team build days seem to have few practical outcomes you can immediately bring back into the work place; I can certainly say that thanks to your design and facilitation that wasn’t the case with this one: quick wins were transferred with the momentum
        for change still going strong!”
      </p>
    </div>
  </main>
  {% include footer.html %}
</body>

</html>
