---
title: Business Development
---
<!doctype html>
<html>
<head>
  {% include header_head.html %}
</head>
<body>
  {% include header.html %}
  <main>
    <div class="content">

      <h1>Business Development</h1>

      <p>
      Our approach to developing your business is simple: we take time to understand your organisation - your approach, motivation, challenges and rewards.   We work with you to evaluate your aspirations, acting as a critical friend and trusted advisor.  We ask the important questions.
    </p>
    <p>
      Our aim is to create a pathway for development that you can involve us in as much or as little as you like.
    </p>
    <p>
      We can help with:
    </p>
    <ul>
      <li>Review of business objectives and supporting marketing/business development plan</li>
      <li>Market research and segmentation</li>
        <li>Pipeline development and opportunity analysis</li>
      <li>Customer Relationship Management (CRM)</li>
      <li>Client surveys – qualitative or quantitative</li>
      <li>Bids and Proposals (work winning)</li>
      <li>Networking events, speaking opportunities and corporate entertainment</li>
      <li>Integrated marketing and business development (incorporating traditional and online channels)</li>
      <li>Event management</li>
      <li>Communications and PR</li>
      <li>Copywriting and brochure development.</li>
    </ul>
    <p>
      As a team, we focus on our core strengths.
    </p>
    <p>
      For more specialist marketing elements such as graphic design and illustration, web development and branding, we work with a network of trusted advisors committed to the same high standards of service and open, honest communication that we aim to provide.
    </p>
    </div>
  </main>
  {% include footer.html %}
</body>
</html>
